.hidden {
    display: none;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
}

#column1 {
    background-color: pink;
    width: auto;
    height: 100px;
}

#column2 {
    background-color: red;
    width: auto;
    height: 100px;
}

@media screen and (min-width: 641px) {
    #columns {
        display: flex;
        flex-direction: row;
    }

    #column1 {
        background-color: blue;
        width: 25%;
    }
    
    #column2 {
        background-color: purple;
        width: 25%;
    }
    
    #column3 {
        background-color: grey;
        width: 25%;
        height: 100px;
    }
    
    #column4 {
        background-color: brown;
        width: 25%;
        height: 100px;
    }

    .hidden {
        display: block;
    }
}